.webuploader-container {
	position: relative;
}
.webuploader-element-invisible {
	position: absolute !important;
	clip: rect(1px 1px 1px 1px); /* IE6, IE7 */
    clip: rect(1px,1px,1px,1px);
}
.webuploader-pick {
	position: relative;
	display: inline-block;
	cursor: pointer;
	background: #00b7ee;
	padding: 10px 15px;
	color: #fff;
	text-align: center;
	border-radius: 3px;
	overflow: hidden;
}
.webuploader-pick-hover {
	background: #00a2d4;
}

.webuploader-pick-disable {
	opacity: 0.6;
	pointer-events:none;
}

/************uploader*************/

.webuploader {
		width: 505px;
}

.webuploader .queueList {
    border: 1px solid #D4D4D4;
}
.webuploader .queueList.filled {
    padding: 17px;
    margin: 0;
    border: 3px dashed transparent;
}
.webuploader .queueList.webuploader-dnd-over {
    border: 3px dashed #999999;
}

.webuploader p {margin: 0;}

.element-invisible {
    position: absolute !important;
    clip: rect(1px 1px 1px 1px); /* IE6, IE7 */
    clip: rect(1px,1px,1px,1px);
}

.webuploader .placeholder {
    min-height: 60px;
    padding-top: 80px;
    text-align: center;
    background: url(images/image.png) center top no-repeat;
    color: #cccccc;
    font-size: 14px;
    position: relative;
}

.webuploader .placeholder .webuploader-pick {
    font-size: 14px;
    background: #00b7ee;
    border-radius: 3px;
    line-height: 34px;
    padding: 0 20px;
    *width: 120px;
    color: #fff;
    display: inline-block;
    margin: 0 auto 10px auto;
    cursor: pointer;
    box-shadow: 0 1px 1px rgba(0, 0, 0, 0.1);
}

.webuploader .placeholder .webuploader-pick-hover {
    background: #00a2d4;
}

.webuploader .placeholder .flashTip {
    color: #666666;
    font-size: 12px;
    position: absolute;
    width: 100%;
    text-align: center;
    bottom: 20px;
}
.webuploader .placeholder .flashTip a {
    color: #0785d1;
    text-decoration: none;
}
.webuploader .placeholder .flashTip a:hover {
    text-decoration: underline;
}

.webuploader .filelist {
    list-style: none;
    margin: 0;
    padding: 0;
}

.webuploader .filelist:after {
    content: '';
    display: block;
    width: 0;
    height: 0;
    overflow: hidden;
    clear: both;
}

.webuploader .filelist li {
    width: 90px;
    height: 90px;
    background: url(images/bg.png) no-repeat;
    text-align: center;
    margin: 5px;
    position: relative;
    display: inline;
    float: left;
    overflow: hidden;
    font-size: 12px;
}

.webuploader .filelist li p.log {
    position: relative;
    top: -45px;
}

.webuploader .filelist li p.title {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    overflow: hidden;
    white-space: nowrap;
    text-overflow : ellipsis;
    top: 5px;
    text-indent: 5px;
    text-align: left;
}

.webuploader .filelist li p.progress {
    position: absolute;
    width: 100%;
    bottom: 0;
    left: 0;
    height: 8px;
    overflow: hidden;
    z-index: 50;
    margin: 0;
    border-radius: 0;
    background: none;
    -webkit-box-shadow: 0 0 0;
}
.webuploader .filelist li p.progress span {
    display: none;
    overflow: hidden;
    width: 0;
    height: 100%;
    background: #1483d8 url(images/progress.png) repeat-x;

    -webit-transition: width 200ms linear;
    -moz-transition: width 200ms linear;
    -o-transition: width 200ms linear;
    -ms-transition: width 200ms linear;
    transition: width 200ms linear;

    -webkit-animation: progressmove 2s linear infinite;
    -moz-animation: progressmove 2s linear infinite;
    -o-animation: progressmove 2s linear infinite;
    -ms-animation: progressmove 2s linear infinite;
    animation: progressmove 2s linear infinite;

    -webkit-transform: translateZ(0);
}

@-webkit-keyframes progressmove {
    0% {
       background-position: 0 0;
    }
    100% {
       background-position: 17px 0;
    }
}
@-moz-keyframes progressmove {
    0% {
       background-position: 0 0;
    }
    100% {
       background-position: 17px 0;
    }
}
@keyframes progressmove {
    0% {
       background-position: 0 0;
    }
    100% {
       background-position: 17px 0;
    }
}

.webuploader .filelist li p.imgWrap {
    position: relative;
    z-index: 2;
    line-height: 90px;
    vertical-align: middle;
    overflow: hidden;
    width: 90px;
    height: 90px;

    -webkit-transform-origin: 50% 50%;
    -moz-transform-origin: 50% 50%;
    -o-transform-origin: 50% 50%;
    -ms-transform-origin: 50% 50%;
    transform-origin: 50% 50%;

    -webit-transition: 200ms ease-out;
    -moz-transition: 200ms ease-out;
    -o-transition: 200ms ease-out;
    -ms-transition: 200ms ease-out;
    transition: 200ms ease-out;
}

.webuploader .filelist li img {
    width: 100%;
}

.webuploader .filelist li p.error {
    background: #f43838;
    color: #fff;
    position: absolute;
    bottom: 0;
    left: 0;
    height: 14px;
    line-height: 14px;
    width: 100%;
    z-index: 100;
}

.webuploader .filelist li .success {
    display: block;
    position: absolute;
    left: 0;
    bottom: 0;
    height: 40px;
    width: 100%;
    z-index: 200;
    background: url(images/success.png) no-repeat right bottom;
}

.webuploader .filelist div.file-panel {
    position: absolute;
    height: 0;
    filter: progid:DXImageTransform.Microsoft.gradient(GradientType=0,startColorstr='#80000000', endColorstr='#80000000')\0;
    background: rgba( 0, 0, 0, 0.5 );
    width: 100%;
    top: 0;
    left: 0;
    overflow: hidden;
    z-index: 300;
}

.webuploader .filelist div.file-panel span {
    width: 24px;
    height: 24px;
    display: inline;
    float: right;
    text-indent: -9999px;
    overflow: hidden;
    background: url(images/icons.png) no-repeat;
    margin: 5px 1px 1px;
    cursor: pointer;
}

.webuploader .filelist div.file-panel span.rotateLeft {
    background-position: 0 -24px;
}
.webuploader .filelist div.file-panel span.rotateLeft:hover {
    background-position: 0 0;
}

.webuploader .filelist div.file-panel span.rotateRight {
    background-position: -24px -24px;
}
.webuploader .filelist div.file-panel span.rotateRight:hover {
    background-position: -24px 0;
}

.webuploader .filelist div.file-panel span.cancel {
    background-position: -48px -24px;
}
.webuploader .filelist div.file-panel span.cancel:hover {
    background-position: -48px 0;
}

.webuploader .statusBar {
    height: 44px;
    border-top: 1px solid #dadada;
    line-height: 44px;
    vertical-align: middle;
    position: relative;
}

.webuploader .statusBar .progress {
    border: 1px solid #1483d8;
    width: 198px;
    background: #fff;
    height: 18px;
    position: relative;
    display: inline-block;
    text-align: center;
    line-height: 20px;
    color: #6dbfff;
    position: relative;
    margin: 0 10px 0 0;
}
.webuploader .statusBar .progress span.percentage {
    width: 0;
    height: 100%;
    left: 0;
    top: 0;
    background: #1483d8;
    position: absolute;
}
.webuploader .statusBar .progress span.text {
    position: relative;
    z-index: 10;
}

.webuploader .statusBar .info {
    display: inline-block;
    font-size: 12px;
    color: #666666;
}

.webuploader .statusBar .btns {
    position: absolute;
    top: 10px;
    right: 0px;
    line-height: 25px;
}

.webuploader .filePicker2 {
    display: inline-block;
    float: left;
}

.webuploader .statusBar .btns .webuploader-pick,
.webuploader .statusBar .btns .uploadBtn,
.webuploader .statusBar .btns .uploadBtn.state-uploading,
.webuploader .statusBar .btns .uploadBtn.state-paused {
    background: #ffffff;
    border: 1px solid #cfcfcf;
    color: #565656;
    padding: 0 8px;
    display: inline-block;
    border-radius: 3px;
    margin-left: 10px;
    cursor: pointer;
    font-size: 12px;
    float: left;
}
.webuploader .statusBar .btns .webuploader-pick-hover,
.webuploader .statusBar .btns .uploadBtn:hover,
.webuploader .statusBar .btns .uploadBtn.state-uploading:hover,
.webuploader .statusBar .btns .uploadBtn.state-paused:hover {
    background: #f0f0f0;
}

.webuploader .statusBar .btns .uploadBtn {
    background: #00b7ee;
    color: #fff;
    border-color: transparent;
}
.webuploader .statusBar .btns .uploadBtn:hover {
    background: #00a2d4;
}

.webuploader .statusBar .btns .uploadBtn.disabled {
    pointer-events: none;
    opacity: 0.6;
}